<div class="main-login">
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <img src="assets/images/logo.gif" alt="login" class="login-card-img">
        <h3 class="text-secondary">Let's Connect</h3>
        <div class="underline-title"></div>
        <button mat-stroked-button mat-dialog-close color="primary" (click)="loginGoogle()">
          <img src="/assets/images/google.svg" width="30px">
          Login With Google
        </button>
      </div>
    </div>
  </div>
</div>